/*reset*/

body p h3 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: inline-block;
}

header {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: inline-block;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.header {
    background: #FFD59E;
    min-height: 147px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.effix {
    font-family: 'Francois One', sans-serif;
    color: #FF6738;
    font-size: 72px;
    font-weight: 400;
    width: 328px;
    padding: 7px 0 54px 20px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.effixhead {
    padding-top: 20px;
    width: 676px;
}

header h2 {
    font-family: 'Francois One', sans-serif;
    color: #FF6738;
    font-size: 34px;
    font-weight: 400;
    display: inline-block;
    padding-bottom: 10px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

nav {
    background-color: #FF6738;
    padding: 14px 0 14px 0;
}

ul {
    display: inline-block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 89px;
}

nav ul li {
    display: inline-block;
}

nav ul>li>a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 16px;
}

nav ul>li>a:active,
nav ul>li>a:focus,
nav ul>li>a:hover {
    color: #FFA938;
}

.imagewrapper {
    position: relative;
    width: 1024px;
    margin: 0 auto;
    height: 364px;
    background: url("../image/ian-schneider-TamMbr4okv4-unsplash.jpg");
}

.fondateur {
    padding: 311px 28px 18px 650px;
    position: absolute;
    margin: 0 0 13px 0;
    font-size: 36px;
    font-weight: 900;
    color: #FF6738;
    display: inline-block;
    text-transform: uppercase;
}

.pourvous {
    font-size: 36px;
    font-weight: 900;
    color: #FFA938;
    display: inline-block;
    padding: 0 0 10px 26px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    float: left;
}

.pad {
    padding: 0 0 10px 26px;
    font-weight: 900;
}


/*style*/

.soustitre {
    font-size: 36px;
    font-weight: 900;
    color: #FF6738;
    display: inline-block;
    text-transform: uppercase;
    padding: 0 0 20px 0
}

.grostitre {
    font-family: 'Francois One', sans-serif;
    color: #FF6738;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 28px 15px 0 88px;
    display: inline-block;
    float: left;
}

.grostitrecontact {
    font-family: 'Francois One', sans-serif;
    color: #FF6738;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 28px 15px 0 90px;
    display: inline-block;
    float: left;
}

.grostitredeux {
    font-family: 'Francois One', sans-serif;
    color: #FF6738;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 28px 10px 0 15px;
    display: inline-block;
    float: left;
}

.orangelineone {
    background-color: #FF6738;
    height: 9px;
    width: 676px;
    float: right;
}

.orangeline {
    background-color: #FF6738;
    height: 9px;
    width: 671px;
    float: right;
}

.orangelineblock {
    background-color: #FF6738;
    width: 638px;
    height: 54px;
    margin: 42px 0 42px 0;
    display: inline-block;
    float: right;
}

.orangelineblockleft {
    background-color: #FF6738;
    width: 570px;
    height: 54px;
    margin: 42px 0 42px 0;
    display: inline-block;
    float: left;
}

.imagesousmenu {
    width: 1024px;
    height: 300px;
    margin-bottom: 19px;
}

.imagedeux {
    max-width: 327px;
    max-height: 297px;
    float: left;
}

.yellow {
    background-color: #FFD59E;
    min-height: 100%;
}

.paraone {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    text-align: justify;
    display: inline-block;
    padding: 0 26px 18px 26px;
    width: 644px;
    height: 200px;
    float: left;
}

.colgauche {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    text-align: justify;
    display: inline-block;
    max-width: 415px;
    float: left;
    padding: 32px 10px 32px 87px;
}

.coldroit {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    text-align: justify;
    display: inline-block;
    max-width: 415px;
    float: right;
    padding: 32px 87px 32px 10px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.image {
    width: 502px;
    height: 292px;
}

.paragra {
    width: 482px;
    height: 247;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    text-align: justify;
    padding: 0px 19px 0 20px;
}


/*tableau des tarifs & services*/

.tableau {
    width: 1024px;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    padding-left: 20px;
    text-align: center;
}

.tabtitre {
    font-family: 'Francois One', sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #FF6738;
    text-transform: uppercase;
    text-align: center;
    padding: 0 20px 0 20px;
}

.tabstitre {
    font-family: 'Francois One', sans-serif;
    font-size: 24px;
    font-weight: 900;
    width: 25%;
    text-transform: uppercase;
    color: #FFA938;
    text-align: left;
}

.tabsstitre {
    font-family: 'Francois One', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFEB38;
    text-align: center;
}

.tabpara {
    width: 100%;
    padding: 10px;
    text-align: justify;
    align: left;
}

.tabcost {
    text-align: center;
    font-family: 'Francois One', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFEB38;
}

.tabperiode {
    text-align: center;
    font-family: 'Francois One', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFA938;
    text-align: center;
}


/* formulaire */

.formstyle {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(183, 183, 183, .9);
    padding-left: 18px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-left: 20px;
    margin-bottom: 35px;
    background-color: #FFD59E;
    border: hidden;
    height: 66px;
}

.nom {
    width: 395px;
}

.prenom {
    width: 552px;
}

.courriel {
    width: 656px;
}

.textarea {
    min-width: 975px;
    min-height: 285px;
    max-width: 975px;
    max-height: 285px;
    padding-top: 18px;
    margin-left: 20px;
}

.button {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
    background: #FF6738;
    margin-left: 627px;
    margin-bottom: 27px;
    border: hidden;
    width: 310px;
    height: 85px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* footer */

.footer {
    display: block;
    height: 300px;
    padding: 30px 0 20px 0;
    background-color: #C4C4C4;
}

.effixfooter {
    font-family: 'Francois One', sans-serif;
    color: #FF6738;
    font-size: 72px;
    font-weight: 400;
    display: inline-block;
    padding: 7px 0px 11px 82px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.orangelineblockfooter {
    background-color: #FF6738;
    width: 570px;
    height: 54px;
    margin: 30px 0 42px 0;
    display: inline-block;
    float: right;
}

.footertext {
    color: #000000;
    display: block;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    margin: 0px 609px 227px 88px;
    text-decoration: none;
}

.footernumber {
    color: #000000;
    display: block;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}

footer address {
    font-style: normal;
}

.clearfix {
    clear: both;
}

.space {
    padding-bottom: 40px;
}